
.body {
    margin: 0;
    padding: 0;
    font-family: "Architects Daughter", cursive;
    font-size: larger;
}

.header {
    background-color:#0e0000;
    text-align: center;
}

.header-block {
    padding: 20px;
}

.head-title {
    color: rgb(251, 249, 233);
    font-family: "Rubik Gemstones", system-ui;;
}

.head-title-heart:hover {
    animation: Blame 3s infinite;
}


.nav {
    margin-top: 5px;
    background-color: #030303;
    position: sticky;
    top: 0px;
    z-index: 1;
    display: flex;
    justify-content: space-around;
}

.nav-a {
    padding: 20px;
    color:rgb(251, 249, 233);
    text-decoration: none;
}

.nav-a:hover {
    color:#000;
    background-color: rgb(251, 249, 233);
}


.article {
    min-height: 500px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(225, 226, 250);
    margin: 20px;
    position: relative;
    border: dotted 2px #8604f0;
}

.static-2 {
    flex-direction: column;
    padding: 20px;
    row-gap: 20px;
}

.skills-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* .article::before {
    content: '';
    position: absolute;
    width: calc(100% + 20px);
    /* height: calc(100% - 20px);
    border: 2px solid #5e0bd2;
    top: -20px;
    left: 20px;
    pointer-events: none;
} */

.parallax-1 {
    background-image: url('./assets/14.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    display: flex;
    align-items: center;
}

.parallax-2 {
    background-image: url('./assets/10.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}

.parallax-3 {
    background-image: url('./assets/9.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}

.static-3 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.photos-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr) repeat(2, 0);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.img3 { grid-area: 1 / 1 / 4 / 2; }
.img7 { grid-area: 4 / 1 / 6 / 2; }
.img2 { grid-area: 1 / 2 / 3 / 3; }
.img5 { grid-area: 3 / 2 / 5 / 3; }
.img4 { grid-area: 5 / 2 / 6 / 3; }
.img6 { grid-area: 1 / 3 / 4 / 4; }
.img1 { grid-area: 4 / 3 / 5 / 4; }
.img8 { grid-area: 5 / 3 / 6 / 4; }

.img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8 {
    object-fit: cover;
    object-position: center;
    transition: transform 3s;
}

.img1:hover, .img2:hover, .img3:hover, .img4:hover, .img5:hover, .img6:hover, .img7:hover, .img8:hover {
    transform: scale(1.1);
    border-radius: 5%;

}

.ul-skills {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    row-gap: 20px;
}

.ul-skills>li {
    width: 75%;
    font-size: larger;
    padding: 10px;
    list-style-type: none;
    background-image: linear-gradient( 135deg, #3B2667 10%, #BC78EC 100%);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

li>ol {
    font-size: medium;
}

img {
    width: 100%;
    height: 100%;
}

.contact-in-parallax{
    background-color: #0000007c;
    text-align: center;
    width: 100%;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contacts-links {
    padding: 5px;
}

.contacts-links a {
    padding: 5px;
    color: white;
    text-decoration:overline;
}

.contacts-links a:hover {
    color: #bfa5d2;
    text-decoration: underline;
}

footer {
    background-color: #030303;
    margin: 0px;
    color: #fff;
    text-align: center;
}

@keyframes Blame {
    0% {
        opacity: 100%;
    }
    50% {
        opacity: 0%;
        scale: 1.5;
    }
    100% {
        opacity: 100%;
        scale: 1.0;
    }
}

@media (min-width: 900px) {
    .section {
        min-height: 700px;
    }
}

@media (min-width: 480px) {
    .ul-skills>li {
        width: 45%;
    } 
}